{% extends "layout.html" %}
{% block content %}
    <article class="content-section">
        <div class="text">
            <h1>Leagues</h1>
            {% for league in league_data %}
                <p><a href="{{ url_for('league', league_id=league.id) }}">{{ league.league_name }}</a></p>
            {% endfor %}
        </div>
    </article>
    
    <article class="content-section">
        <div class="text">
            <h1>Divisions</h1>
            {% for division in division_data %}
                <p><a href="{{ url_for('division', division_id=division.id) }}">{{ division.league_name }} : {{ division.division_name }}</a></p>
            {% endfor %}
        </div>
    </article>

    <article class="content-section">
        <div class="text">
            <h1>Teams</h1>
            {% for team in team_data %}
                <p><a href="{{ url_for('team', team_id=team.id) }}">{{ team.team_name }}</a></p>
            {% endfor %}
        </div>
    </article>

{% endblock %}