:root
{
    --main-black: #0B0C10;
    --main-dark-gray: #1F2833;
    --main-gray: #C5C6C7;
    --main-bright-blue: #66FCF1;
    --main-dark-blue: #45A29E;
    --main-red: red;

}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: var(--main-dark-gray);
    font-family: Helvetica;
    color: var(--main-bright-blue);
}

a:link  
{
    text-decoration: none;
    color: var(--main-bright-blue);
    font-weight: bold;
}

a:visited
{
    color:var(--main-bright-blue);
}

p
{
    color:var(--main-bright-blue);
}


.menu-bar
{
    background-color: var(--main-black);
    text-align: center;
}

.menu-bar ul
{
    display: inline-flex;
    list-style-type: none;
}

.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a
{
    text-decoration: none;
    color: var(--main-bright-blue);;
}

.menu-bar ul li:hover
{
    background: var(--main-dark-blue);
    border-radius: 3px;
}

.sub-menu-1
{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background-color: var(--main-dark-blue);;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul 
{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted black;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 li a
{
    color: var(--main-black);
}

.menu-bar ul li:hover .sub-menu-1 li a:hover
{
    background: var(--main-gray);
}

.content-section {
    background: var(--main-black);
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
}

.article-content {
    white-space: pre-line;
    text-indent: 50px;
}

.text {
    font-size: 20px;
    padding-left: 20px;
}

h1 
{
    color: var(--main-red);
    text-align:center;
}

h2
{
    color: var(--main-gray);
    text-align:center;
}

h4 
{
    color: var(--main-gray);
    text-align:center;
}

p
{
    text-align:center;
}